<div class="container">
  <div class="form-group">
  <label for="ownerFirsName">First Name:</label>
  <input class="form-control" type="text" #ownerFirstName>
  <br>
  <div class="form-group">
  <label for="ownerLastName">Last Name:</label>
  <input class="form-control" type="text" #ownerLastName>
  <br>
  <label for="animalName">Animal Name:</label>
  <input class="form-control" type="text" #animalName>
  <br>
  <label for="species">Species:</label>
  <input class="form-control" type="text" #species>
  <br>
  <label for="gender">Gender:</label>
  <input class="form-control" type="text" #gender>
  <br>
  <label for="stay">Stay length (In days):</label>
  <input class="form-control" type="number" #stay>
  <br>
  <label for="dropOff">Drop off date:</label>
  <input class="form-control" type="date" #dropOff>
  <br>
  <button class="btn btn-success btn-sm" (click)="submitRequest(ownerFirstName.value, ownerLastName.value, animalName.value, species.value, gender.value, stay.value, dropOff.value); ownerFirstName.value=''; ownerLastName.value=''; animalName.value=''; species.value=''; gender.value=''; stay.value=''; dropOff.value='';">Submit</button>
  </div>
</div>
