<div class="container">
<h3 id="header">The Best home for your Pet In Seattle</h3>
<p>
  From our Full Service Hospital to our Daycare Club, our plush Boutique Boarding accommodations, our Grooming salon and our Training services, we maintain the highest level of care. Our Veterinary and Daycare Club members enjoy a range of exclusive benefits. Our chauffeur service will even pick up and drop off from home or work!
</p>

<h3>Address</h3>
<p>638 156th Ave SE
Seattle, WA, 98002</p>
<h3>Phone</h3>
<p>(425) 598-8603</p>
<h3>Hours</h3>
<p>Mon - Fri: 7am - 7pm</p>
<p>Sat - Sun: 8am - 6pm</p>
</div>
