<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<div class="container">
  <div class="logo-info-box">
    <div class="main-logo">
    </div>
  </div>
  <nav class="navbar-wrapper">
    <ul>
      <li class="hover"><a href=''>Home</a></li>
      <li class="hover"><a href='contact'>Contact</a></li>
      <li class="hover" ><a href='cart'>Cart</a></li>
      <li class="hover"><a href='blog'>Blog</a></li>
      <li class="hover"><a href='pet-form'>Book a Stay</a></li>
    </ul>
  </nav>
</div>
