.navbar-wrapper{
  margin-top: 80px;
}
.grey{
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.hover:hover:not(.activate){
  background-color: #ddd;
}
.ulStyle{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.moveLi{
  width: 20%;
  background-color: #f3f3f3;
  float: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  width: 20%;
  background-color: #f3f3f3;
  float: left;
}

 li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}

.logo-info-box{
  color: #505050;
  float: right;
}
