.navbar-wrapper{
  margin-top: 80px;
}

#logIn:hover {
  color: blue;
  cursor: pointer;
}

#logOut:hover {
  color: blue;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  width: 180px;
  float: left;
}

 li a {
  font-size: 14pt;
  display: block;
  color: #448;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: white;
  background-image: linear-gradient(to right, rgba(0, 0, 60, 0.1), rgba(0, 0, 30, 0.1));
}

li a.active {
  color: white;
  background-color: #4CAF50;
}

.logo-info-box{
  color: #505050;
  float: right;
}

/* .navbar {
 min-height: 80px;
} */

/* .navbar-brand {
 padding: 0 10px;
 height: 60px;
 line-height: 60px;
} */

/* .navbar-toggle {
 /* (80px - button height 34px) / 2 = 23px */
 /* margin-top: 23px;
 padding: 9px 10px !important;
} */

/* @media (min-width: 768px) {
 .navbar-nav > li > a {
   /* (80px - line-height of 27px) / 2 = 26.5px */
   /* padding-top: 26.5px;
   padding-bottom: 26.5px;
   line-height: 27px;
 }
}  */
