<div class="">
  <p id="date">{{month}}/{{day}}/{{year}}</p>
</div>
<div class="container" style="margin-top:20px">
  <div class="row">
    <div class="blogImage col-sm-3">
      <img src="https://media3.giphy.com/media/dTJd5ygpxkzWo/200w.webp?cid=790b76115cb7faea544e573973b5554d" alt="">
    </div>
    <div class="blogNarrative col-sm-9">
      <h5>It's the good life at The Best Pet Daycare!</h5>
      <div class="">
        Chuckles is so cute today! Living the life laying on the recliner getting scratched with his favorite brush.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="blogImage col-sm-3">
      <img src="https://media3.giphy.com/media/26FPqut4lzK3AECEo/200w.webp?cid=790b76115cb7faea544e573973b5554d" alt="">
    </div>
    <div class="blogNarrative col-sm-9">
      <h5>Where there's a will, there's a way!</h5>
      <div class="">
        Chanel is not having cage time today.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="blogImage col-sm-3">
      <img src="https://media0.giphy.com/media/WZP3qaxYj10gU/giphy.webp?cid=790b76115cb803d87a3849416be0aa99" alt="">
    </div>
    <div class="blogNarrative col-sm-9">
      <h5>Did you do this Ralph?!</h5>
      <div class="">
        Ralph had a little accident on the floor today. We kept asking him "Did you do this? Did you do this Ralph?"
      </div>
    </div>
  </div>
</div>
